<h1>Contact</h1>

<div class="">
	<div class="contact-header">
		Your Board of Directors
	</div>
	<div class="contact-info">
		<%= link_to "board@234RideauSt.com", "mailto:board@234RideauSt.com" %>
	</div>
	
	<div class="contact-header">
		Security Desk
	</div>
	<div class="contact-info">
		613.421.5198
	</div>
	
	<div class="contact-header">
		Mike Fraser - Property Management
	</div>
	<div class="contact-info">
		<%= link_to "mfraser@reidmanagement.com", "mailto:mfraser@reidmanagement.com" %>
	</div>

</div>