<h1>Newsletters</h1>

<div class="intro">
	Welcome to the Newsletters page. Here you find an archive of all the newsletters that property management and the condo boards puts out.
	<ul>
		<li><%= link_to "July 31st, 2013", "/PDF/Newsletter_20130731.pdf" %></li>
	</ul>
</div>