/* General */

body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica", "Arial";
	height: 100%;

}

/* Layout */

.container {
	margin: 0 auto;
	width: 900px;
}

/* Header */
.header {
	background:#333;
	color:white;

	padding:10px;
	
	.header-logo {
		height:50px;
	}
	
	.nav {
		a {
			font-family: 'Didact Gothic', sans-serif;
			display:inline-block;
			text-decoration:none;
			color:white;
			padding: 5px 10px;
			margin:10px 10px;
			&:hover {
				border-radius:5px;
				color:black;
				background:#eee;
			};
		}
	}
	
}

/* Footer */
.footer {
	padding:20px 0px;
	
	.footer-info {
		text-align:center;
		color:#333;
	}
}

/* Buttons */
.button {
	display:inline-block;
	padding:5px 10px;
	border-radius:5px;
}

.gray-button {
	background:#aaa;
	color:white;
	&:hover {
		background:#333;
	};
}