/* General */

body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica", "Arial";
	height: 100%;

}

/* Layout */

.container {
	margin: 0 auto;
	max-width:960px;
}

/* Elements */

.resource-table {
	width:100%;
	border-collapse:collapse;
	text-align:left;
	tr {
		border:1px solid #eee;
		td {
			padding:1px 3px;
		}
	}
}

/* Header */
.header {
	background:#333;
	color:white;

	padding:10px;
	
	.header-logo {
		height:50px;
	}
	
	.nav {
		a {
			font-family: 'Didact Gothic', sans-serif;
			display:inline-block;
			text-decoration:none;
			color:white;
			padding: 5px 10px;
			margin:10px 10px;
			&:hover {
				border-radius:5px;
				color:black;
				background:#eee;
			};
		}
	}
	
	@media (max-width: 480px) {
		.header {
			padding:0;
			text-align:center;
		}
		

		.header-logo {
			display:block;
			width:40%;
			height:auto;
			margin:0 auto;
		}
		
		.nav {
			width:100%;
			display:block;
			padding:0;
			a {
				background:#444;
				width:100%;
				text-align:center;
				display:block;
				padding:0;
				margin:10px 0px;
			}
		}
	}
	
}

/* Footer */
.footer {
	padding:20px 0px;
	
	.footer-info {
		text-align:center;
		color:#333;
	}
}

/* Buttons */
.button {
	display:inline-block;
	padding:5px 10px;
	border-radius:5px;
}

.gray-button {
	background:#aaa;
	color:white;
	&:hover {
		background:#333;
	};
}