/* General */

body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica", "Arial";
	height: 100%;
	background: #eee;
}

/* Layout */

.container {
	margin: 0 auto;
	width: 900px;
	padding: 20px 0 20px 0;
}

/* Header */
.header {
	background:black;
	color:white;
	
	a {
		text-decoration:none;
		color:white;
		
		&:hover {
			text-decoration:underline;
		};
	}
}

/* Flash */
.flash {
	border: 2px solid;
	padding: 10px;
	border-radius:5px;
	background:white;
}

.error {
	border-color: red;
}

.success {
	border-color: green;
}

.notice {
	border-color: black;
}