/* Flash */
.flash {
	position:fixed;
	top: 0;
	left: 50%;
	margin-left: -200px;
	font-family: "Arial", sans-serif;
	font-size:12px;
	width:400px;
	background:white;
	z-index:1001;
	color:#22222;
	border-radius:0px 0px 5px 5px;
	border:1px solid red;
	border-top:none;
	padding: 5px;
	text-align:center;
}

.error {
	border-color:red;
	background:#FFD1CD;
}

.notice {
	border-color:#666;
	background:#eee;
}

.close-flash-container {
	float:right;
	margin-right:5px;
}