// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Index */

.news-post {
	
	margin:10px 0px;
	width:100%;
	
	.news-post-header {
		background:#222;
		color:white;
		padding:5px 10px;
		border-radius:5px 5px 0px 0px;
		
		.news-post-title {
			font-size:20px;
		}
		
		.news-post-date {
			font-style:italic;
			color:#888;
		}
	}
	
	.news-post-body {
		background:#ddd;
		padding:5px 10px;
	}
	
	.news-post-actions {
		background:#869AA0;
		padding: 5px 10px;
	}
	
}