// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HOME */
.hero {
	text-align:center;
	
	.hero-logo {
		margin:20px auto;
		width:100%;
		height:auto;
	}	
	
	.hero-writeup {
		width:700px;
		margin:0 auto;
		font-size:20px;
	}
}


/* CONTACT */
.contact-header {
	font-weight:bold;
}

.contact-info {
	margin-bottom:10px;
}