// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HOME */

.main-content {
	width:75%;
	float:left;
}

.sidebar {
	width:25%;
	float:right;
	.sidebar-section {
		border-radius:5px;
		background:#eee;
		border:1px solid #999;
		margin: 10px 0px;
		padding:3%;

		font-size:75%;
		
		h1 {
			font-size:100%;
		}	
	}
}

.reminders-list {
	padding:0px;
	list-style:none;
	li {
		margin-bottom:10px;
	}
}

@media (max-width: 480px) {
	.sidebar, .main-content {
		width:100%;
		float:none;
	}
}

.hero {
	text-align:center;
	
	.hero-logo {
		margin:20px auto;
		width:100%;
		height:auto;
	}	
	
	.hero-writeup {
		width:90%;
		margin:0 auto;
		font-size:14px;
	}
}


/* CONTACT */
.contact-header {
	font-weight:bold;
}

.contact-info {
	margin-bottom:10px;
}