/* CSS RESET */

html {
	height:100%;
}

body {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
}

a {
	text-decoration:none;
}

a img {
  border:none;
}

.clear {
	clear:both;
}


.container {
	margin: 0 auto;
	width:960px;
	position:relative;
}

.left {
	float:left;
}

.right {
	float:right;
}