<hr>
<div class="footer-info">
	Claridge Plaza II,
	234 Rideau St., Ottawa, ON
	K1N 0A9<br>
	Copyright 2013,
	Ottawa Web Design by <%= link_to "BiteSite.ca", "http://www.bitesite.ca", :target => "_blank" %>
</div>